<div class="form-container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="email-container">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="email" placeholder="Enter your email" formControlName="email"/>
            <!-- <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error> -->
          </mat-form-field>
        </div>
        <div class="password-container">
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="Enter your password" formControlName="password"/>
          </mat-form-field>
        </div>
        <button  mat-raised-button color="accent" type="submit" [disabled]="loginForm.invalid">Login</button>
      </form>
      
</div>
